$gray: #1e1e1e;

body {
  font-family: sans-serif;
  background-color: $gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

  #app {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px #000;
  }
}
